
<div class="primary0">
<div id="welcome-msg">
    <h1>ARAS</h1>
</div>

<div id="other-msg">
    <h4>A running prototype for Annotated Relational Algebra System (or ARAS, for short), that implements the work of Green et al [PODS 2007][1] on provenance semirings.
        Implementing and extending to Databases with different annotated views as mentioned below :
        (1) Bag semantics
        (2) Probability 
        (3) Certainty
        (4) Provenance polynomial
        (5) Standard Case
        Query answering in these semantics involves generalizing the relational algebra (RA+) to perform corresponding operations on the annotations [1]
        
         
    </h4>
</div>

<div id="another-msg">
    <h4>
        </h4>
</div>

</div>