<div class="row">
    <div class="col-md-12 mt-3">
        <div class="position-absolute col" style="height: 100%;cursor: no-drop;" *ngIf="isUploaded">
            <div class="spinner-border text-dark position-absolute" style="top:50%;left:40%;"></div>
        </div>
        <form method="post" action="#" id="#">
            <div class="form-group files">
                <label>Upload Your File </label>
                <input type="file" class="form-control" #upload (change)="fileValidation($event.target)">
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <button class="btn btn-primary float-right" (click)="uploadFile(upload)" [disabled]="isUploaded">Upload</button>
    </div>
    <div class="col mt-3">
        <div class="alert alert-danger" *ngIf="isFileSlected">
            Please select a file to upload
        </div>
        <div class="alert alert-primary" *ngIf="uploadStatus">
            {{fileStaus?.message}}
        </div>
        <div class="alert alert-danger" *ngIf="isValidFormat">
            "{{fileInfo.name}}" file is not allowed, please upload a valid file.
        </div>
    </div>
</div>